.client_payments table {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 50px;
}

.client_payments table tr:hover {
    cursor: pointer;
}

.client_payments tfoot tr td {
    border-top: none;
}

.add_bill_button {
    background-color: #00AA00;
    color: white;
    float: right;
    border: none;
    padding: 7px;
    margin-bottom: 18px;
}

.client_payments thead {
    color: black;
    text-align: center;
}

.client_payments thead th {
    padding: 7px;
    width: 170px;
    font-size: 18px;
}

.client_payments td {
    text-align: center;
    padding: 10px 0px;

}

.bills_form h4 {
    padding: 15px 0;
    text-align: center;
}

.client_payments div  legend {
    text-align: center;
    background-color: #FF0000;
    color: white;
    font-size: 24px;
}

.active {
    background-color: #00AA00;
    color: white;
}

.client_payments table {
    border-collapse: collapse;
}
.client_payments table td, table th {
    border: 1px solid black;
}
.client_payments table tr:first-child th {
    border-top: 0;
}
.client_payments table tr:last-child td {
    border-bottom: 0;
}
.client_payments table tr td:first-child,
.client_payments table tr th:first-child {
    border-left: 0;
}
.client_payments table tr td:last-child,
.client_payments table tr th:last-child {
    border-right: 0;
}

.client_info {
    text-align: center;
    /*margin-left: 320px;*/
}

.client_info .client_info_first {
    text-align: left;
    padding: 20px;
    border-radius: 50px;
    margin: auto;
    width: 60%;
    background-color: white;
}

.client_info .client_info_first div {
    text-align: center;
    /*margin-bottom: 15px;*/
}

.ready-payment {
    background-color: blue;
    color: white;
}

.client-nav {
    display: flex;
    width: 70%;
    margin: auto;
}

.client-data {
    width: 70%;
    margin: auto;
}

.unselected-part-view {
    border: none;
    background-color: #C7C7C7;
    color: white;
    padding: 15px;
}

section {
    padding-bottom: 0px;
}

.selected-part-view {
    border: none;
    background-color: #848484;
    color: white;
    padding: 15px;
}

.client-data {
    background-color: #848484;
    padding: 20px;
}

.second_level_payment {
    display: flex;
    display: none;
    justify-content: space-between;
}

#printing {
    background-color: white;
    color: black;
    padding: 10px;
    display: none;
}

